
.vs/

obj/

bin/Debug/netcoreapp3.1/DistribuisciEsami.deps.json

bin/Debug/netcoreapp3.1/DistribuisciEsami.pdb

bin/Debug/netcoreapp3.1/DistribuisciEsami.runtimeconfig.dev.json



*.json

*.txt

*.pdb
